@import "./vars.css";
@import "./toast.css";
@import "../components/TabsContainer.css";
@import "../view/AppLayoutView.css";
@import "../view/MenuStripView.css";
@import "../view/ChecklistView.css";
@import "../view/SearchView.css";
@import "../view/FilterCrumbsView.css";
@import "../view/FilterDropdownView.css";
@import "../view/InteractionAreaView.css";
@import "../view/TaxonDataView.css";
@import "../view/DetailsView.css";
@import "../view/TaxonDataItemView.css";
@import "../view/SingleAccessKeyView.css";
@import "../view/TaxonView.css";
@import "../view/AboutView.css";
@import "../view/ManageView.css";
@import "../view/LiteratureView.css";
@import "../view/charts/CategoryChart.css";
@import "../view/charts/MapChart.css";

html,
body {
  font-family: var(--font-normal);
  margin: 0px;
  padding: 0px;
  text-size-adjust: none;
  background-color: white;
  color: black;
  line-height: 100%;
  font-size: 100%;
  user-select: none;
}

a[target="_blank"]:after {
  content: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj4KCTx0aXRsZT4KCQlleHRlcm5hbCBsaW5rCgk8L3RpdGxlPgoJPHBhdGggZmlsbD0iIzM2YyIgZD0iTTYgMWg1djVMOC44NiAzLjg1IDQuNyA4IDQgNy4zbDQuMTUtNC4xNnpNMiAzaDJ2MUgydjZoNlY4aDF2MmExIDEgMCAwIDEtMSAxSDJhMSAxIDAgMCAxLTEtMVY0YTEgMSAwIDAgMSAxLTEiLz4KPC9zdmc+Cg==);
  margin: 0 3px 0 5px;
}

.clickable {
  cursor: default;
}

.clickable:hover {
  opacity: 0.5;
}

.fullscreenable-image.fullscreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  margin: 0;
  padding: 0;
  opacity: 1 !important;
  object-fit: contain;
  background-color: #000000a8 !important;
  overflow: hidden;
}

.fullscreenable-image.fullscreen img,
.fullscreenable-image.fullscreen object {
  max-width: 100vw !important;
  max-height: 100vh !important;
  height: 100vh !important;
  width: 100vw !important;
  object-fit: contain;
  margin: 0 !important;
  padding: 0 !important;
}

.fullscreenable-image.fullscreen::after {
  display: block;
  content: attr(title);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1.5em;
  line-height: 2em;
  pointer-events: none;
  text-align: center;
}

ul.card.specimen-level {
  /* Solidify the background slightly so text is highly readable, like a data table */
  background-color: #ffffffff;
  /* No outer shadow, pure flat design */
  box-shadow: none;
  /* Only border the top and bottom with a subtle white line, like list items */
  border: none !important;
  border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8) !important;
  /* Anchor the left with your slate blue */
  border-left: 4px solid var(--nlblue) !important;
  /* Sharp corners to strongly contrast with the rounded (var(--pad-large)) parent taxa */
  /* Close the gap between sibling specimens so they look like one continuous table */
  margin-bottom: 1px;
  margin-left: 0.5em;
}

/* Give the specimen ID a distinct, technical feel */
.specimen-level .taxon-name-stripe .taxon-name {
  font-family: var(--font-light);
  background-color: var(--nlblue);
  color: white;
  padding: 0.4em 0.6em;
  border-radius: 3px;
  font-size: 85% !important; /* Override inline styles */
  letter-spacing: 0.05em;
}

/* ------------- */

/* 1. Style the entire copiable wrapper as the ID Badge with the SVG background */
.specimen-level .copiable {
  display: inline-flex;
  align-items: center;
  background-color: var(--nlblue); 
  color: white;
  
  /* Use extra padding on the left (1.8em) to make room for the background icon */
  padding: 0.0em 0.6em 0.0em 1.8em; 
  
  /* Set the SVG as the background image */
  background-image: url('../../img/ui/checklist/tag.svg');
  background-repeat: no-repeat;
  
  /* Position it 0.4em from the left edge, and perfectly centered vertically */
  background-position: 0.4em center; 
  
  /* Control the size of the icon so it doesn't scale out of bounds */
  background-size: 1.1em; 
  
  border-radius: var(--pad-small); 
  font-family: var(--font-light); 
  letter-spacing: 0.05em;
  font-size: 85% !important; 
  box-shadow: 0.05em 0.05em 0.1em rgba(0,0,0,0.2);
}
