.about-view {
    user-select: text;
}

.about-view h1,
.about-view h2,
.about-view h3,
.about-view h4 {
    text-align: center;
    line-height: 120%;
}

.about-view h1 {
    font-size: 270%;
}

.about-view p {
    text-align: justify;
    line-height: 125%;
}

.about-view p>img {
    text-align: center;
}

.about-view img {
    max-width: 20em;
    max-height: 10em;
    display: block;
    margin: auto;
    padding: 1em;
}

.about-view a {
    color: #1565c0;
    cursor: pointer;
    text-decoration: none;
}