.app {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
}

.app .app-content {
    flex-grow: 1;
    display: flex;
    flex-direction: row; /* Desktop: Side-by-side (Checklist | Filters) */
    overflow: hidden;
}

/* The following media query handles the layout change: */
@media (max-width: 1200px) {
    .app .app-content {
        flex-direction: column; /* Mobile: Stacked (Checklist then Filters) */
    }
}