.interaction-area {
  overflow-y: auto;
  max-width: 50vw;
  width: 33em;
  min-width: 30em;
  background-color: var(--nlblue);
  padding: var(--small-pad);
  background: var(--gradient-background);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.interaction-area .branding {
  text-align: right;
  font-family: var(--font-light);
  font-size: 0.75em;
  opacity: 0.45;
  user-select: none;
  bottom: var(--pad-small);
  display: inline-block;
  margin-right: 2em;
}

.interaction-area .branding img {
  width: 50em;
}

.interaction-area-branding-wrapper {
  color: white;
  background-image: url("/img/icon_transparent_fine.svg");
  background-repeat: no-repeat;
  background-size: 16em;
  background-position: bottom 1.5em right 0em;
  padding: var(--pad-large);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.interaction-area-generic-wrapper {
  background-color: white;
  color: black;
  flex-grow: 1;
  padding: 0.5em;
}

.interaction-area-generic-wrapper h1 {
  color: black;
}

.interaction-area-generic-wrapper h2 {
  color: black;
}

.interaction-area-generic-wrapper h3 {
  color: black;
}

.interaction-area .desktop-cite {
  background-color: white;
  color: black;
  margin: 0.75em;
  border-radius: 0.25em;
  padding: 0.25em;
  font-size: 80%;
}

/* NEW/EDITED: Mobile/Tablet Layout (Max Width 1200px) */
@media (max-width: 1200px) {
  .interaction-area {
    max-width: unset;
    width: 100%;
    min-width: unset;
    height: auto;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 0;
    max-height: 100%;
    box-shadow: 0 0 1.5em 0.1em black;
  }

  /* Hide desktop branding and citation */
  .interaction-area .branding,
  .interaction-area .desktop-cite {
    display: none;
  }

  /* EDITED: Branding wrapper now holds the SearchView, padding is now inside SearchBox */
  .interaction-area .interaction-area-branding-wrapper {
    padding: 0;
    flex-grow: 1;
    min-height: unset;
    display: block;
    /* Search and button are now internally laid out by SearchView */
  }

  /* COLLAPSE LOGIC */

  /* HIDE filter groups when collapsed */
  .interaction-area.collapsed .filter-groups-wrapper {
    display: none;
  }

  /* Ensure SearchBox is visible when collapsed */
  .interaction-area.collapsed .search-box {
    display: flex !important;
  }
}