.taxon-data-view {
    display: flex;
    flex-direction: column;
}

.middle-row {
    display: flex;
    flex-direction: row;
}

.middle-row .column:first-child {
    flex-grow: 1;
}

.top-row {}

.bottom-row {
    margin-top: 1em
}

.column {
    width: 33%;
}

.column:not(:first-child) {
    border-left: 1px solid #d7d7d7;
    padding-left: 1em;
}

.left-column {}

.middle-column {}

.right-column {}

.bottom-row {}

@media (max-width: 1200px) {
    .middle-row {
        flex-direction: column;
    }

    .column {
        width: auto;
    }
}