.tabs-container {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}

.tabs-container-buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: hidden;
    flex-wrap: wrap;
}

.tabs-container-tab-button {
    font-family: var(--font-normal);
    text-align: center;
    background-color: white;
    border: 0px solid;
    flex-grow: 1;
    opacity: 0.7;
    margin-right: 1px;
    margin-left: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid black;
    border-radius: 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.tabs-container-tab-button-title {
    margin-left: var(--pad-large);
}

.tabs-container-active-tab-button {
    opacity: 1;
    background-color: white;
    border-bottom: none;
}

.tabs-container-tab-button:first-child {
    margin-right: 1px;
    margin-left: 0px;
    border-top-left-radius: var(--pad-small);
}

.tabs-container-tab-button:last-child {
    margin-left: 1px;
    margin-right: 0px;
    border-top-right-radius: var(--pad-small);
}

.tabs-container-tab-button:hover {
    opacity: 0.8;
}

.tabs-container-active-tab-button:hover {
    opacity: 1;
}

.tabs-container-tab-button-icon {
    max-height: 2em;
    max-width: 2em;
}

.tabs-container-content {
    background-color: white;
    color: black;
    padding-top: 1em;
    border-bottom-left-radius: var(--pad-small);
    border-bottom-right-radius: var(--pad-small);
}

@media (max-width: 1200px) {
    .tabs-container-content {
        min-height: 10em;
    }
}