html,
body {
    scroll-behavior: smooth;
}

.docs-content {
    margin: 1em;
    line-height: 130%;
    text-align: justify;
    user-select: text;
    font-size: 95%;
    max-width: 80em;
}

h1 {
    font-size: 140%;
}

h2 {
    font-size: 120%;
    margin-left: 2em;
    margin-bottom: 0em;
}

h3 {
    font-size: 110%;
    margin-left: 3em;
    margin-bottom: 0em;
}

p,
ul {
    margin-left: 4em;
}

table ul {
    margin-left: 0em;
}

table {
    margin-left: 4em;
    border-collapse: collapse;
    font-size: 85%;
}

table,
tr,
th,
td {
    border: 1px solid black;
}

th,
td {
    text-align: left;
    padding: 0.5em;
}

th.narrow {
    width: 2em;
    height: 8em;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

td.narrow {
    width: 2em;
    text-align: center;
}

td.yes {
    color: green;
    font-weight: bold;
}

td.no {
    color: crimson;
    font-weight: bold;
}

.scroll-to-top {}