.checklist {
  flex-grow: 1;
  overflow: hidden;
  background: linear-gradient(28deg, #1d2834, #55769b);
}

.app.mobile .checklist {
  height: 100%;
}

.checklist-inner-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.listed-taxa {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.25em;
  color: black;
  font-size: 85%;
  flex-grow: 1;
}

.app.mobile .listed-taxa {
  padding-bottom: 9em;
}

.show-more-items {
  text-align: center;
  cursor: default;
  font-variant: small-caps;
  padding: var(--pad-large);
  border-radius: var(--pad-large);
  box-shadow: 0.05em 0.05em 0.25em 0.1em #0c0c0c33;
  background-color: #ffffff87;
  border: 1px solid white !important;
  padding-left: 0em;
  list-style: none;
  display: block;
  margin: var(--pad-small);
  margin-bottom: var(--pad-large);
}

.show-more-items:hover {
  background-color: var(--hover-background);
}

.nothing-found-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  align-items: center;
}

.nothing-found-wrapper img {
  width: 7em;
}

.nothing-found-wrapper .query {
  margin: 1em;
  text-align: center;
  color: #efad1a;
  max-width: 25em;
}

.nothing-found-message {
  text-align: center;
  padding: var(--pad-large);
  margin-top: var(--pad-large);
  max-width: 25em;
  line-height: 150%;
  text-align: center;
}

.temporary-notice {
  font-family: var(--font-light);
  padding: var(--pad-large);
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid rgb(209 209 174);
}

.temporary-notice .notice {
  flex-grow: 1;
  font-size: 85%;
}

.temporary-notice button.show-all {
  background-color: white;
  border: 0px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.temporary-notice button.show-all:hover {
  background-color: var(--hover-background);
}

.temporary-notice .notice-icon {
  height: 1.5em;
  margin-right: var(--pad-large);
}

.button-group {
  margin: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border: 1px solid black;
  border-radius: var(--pad-small);
  width: fit-content;
  display: inline-flex;
}

.button-group button {
  background-color: white;
  font-family: Regular;
  margin: 0;
  border-radius: 0;
  border: 0px solid transparent;
}

.button-group button.selected {
  color: white;
  background-color: #7cb342;
  font-weight: normal;
}

.button-group button:first-child {
  margin: 0;
  border-top-left-radius: var(--pad-small);
  border-bottom-left-radius: var(--pad-small);
}
.button-group button:not(:first-child) {
  border-left: 1px solid gray;
}

.button-group button:last-child {
  margin: 0;
  border-top-right-radius: var(--pad-small);
  border-bottom-right-radius: var(--pad-small);
}

.button-group-wrapper {
  display: flex;
  align-items: center;
}

.button-group-label {
  font-size: 80%;
  color: white;
}
