.biblio ul {
  list-style: none !important;
  font-size: 80%;
  padding-left: 0;
}

.biblio ul li {
  margin-bottom: 0.5em;
  text-indent: -2em;
  margin-left: 2em;
  user-select: text;
  font-size: 120%;
  line-height: 140%;
}
